<style type="text/css">
     .login-box
   {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    height: 550px;
    /*margin-top: -13px;*/
    width: 35%;
    border: none;
   }

   /*LOGO Design */

   .login-logo
   {
    background: green;
    color: white;
   }

   /*<!-- Button design -->*/
  .btn
  {
    width: 30%;
    margin-left: 34%;
    border:none;
    transition: 1s;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn:hover
  {
    width: 35%;
    border:none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Input fields design*/
  .form-control
  {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .form-control:hover
  {
    box-shadow:  0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .form-control:focus
  {
    background: lightgreen;
    box-shadow:  0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /*For icons design*/
  .fas
  {
   
    color: green;
    
  }
  /*for icons backgrouds*/
  .input-group-text
  {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

</style>

{% extends 'registration/base.html' %}
{% block content %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">Forgot Password</p>

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" placeholder="Email">
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-block btn-outline-success">Submit</button>
      </form>

      <!-- /.social-auth-links -->

    </div>
{% endblock content %}